In [13]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

In [3]:
# Reading in clean_measurment.csv and clean_station.csv
measurement = pd.read_csv("Resources/clean_hawaii_measurement.csv")
station = pd.read_csv("Resources/clean_hawaii_station.csv")

In [4]:
# Inspecting DataFrames 
measurement.head()
station.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
# Creating classes
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float(50))
    tobs = Column(Float(50))
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float(50))
    longitude = Column(Float(50))
    elevation = Column(Float(50))

In [6]:
# Creating Database Connection
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

In [7]:
# Create tables
Base.metadata.create_all(engine)
Base.classes.keys()

In [18]:
# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)
# Print all of the classes mapped to the Base (print all tables)
Base.classes.keys()

['measurement', 'station']

In [21]:
# Creating a session  # To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [22]:
# Adding measurement data
measurement.to_sql(name='measurement', con=conn, if_exists='append', index=False)

In [23]:
# Adding station data# Adding 
station.to_sql(name='station', con=conn, if_exists='append', index=False)

In [24]:
# Query to check info
station_list = session.query(Station)
for station in station_list:
    print(station.__dict__)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1150f2a20>, 'station': 'USC00519397', 'longitude': -157.8168, 'name': 'WAIKIKI 717.2, HI US', 'id': 1, 'elevation': 3.0, 'latitude': 21.2716}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108bba58>, 'station': 'USC00513117', 'longitude': -157.8015, 'name': 'KANEOHE 838.1, HI US', 'id': 2, 'elevation': 14.6, 'latitude': 21.4234}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108afa20>, 'station': 'USC00514830', 'longitude': -157.8374, 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'id': 3, 'elevation': 7.0, 'latitude': 21.5213}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108af320>, 'station': 'USC00517948', 'longitude': -157.9751, 'name': 'PEARL CITY, HI US', 'id': 4, 'elevation': 11.9, 'latitude': 21.3934}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108af2b0>, 'station': 'USC00518838', 'longitude': -158.0111, 'name': 'UPPER WAHIAWA 874.3, HI US', 'id': 5, 'elevation': 306.6, 'latitude': 21.4992}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108af400>, 'station': 'USC00519523', 'longitude': -157.71139, 'name': 'WAIMANALO EXPERIMENTAL FARM, HI US', 'id': 6, 'elevation': 19.5, 'latitude': 21.33556}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108af390>, 'station': 'USC00519281', 'longitude': -157.84888999999995, 'name': 'WAIHEE 837.5, HI US', 'id': 7, 'elevation': 32.9, 'latitude': 21.45167}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108af160>, 'station': 'USC00511918', 'longitude': -157.9992, 'name': 'HONOLULU OBSERVATORY 702.2, HI US', 'id': 8, 'elevation': 0.9, 'latitude': 21.3152}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x115051ac8>, 'station': 'USC00516128', 'longitude': -157.8025, 'name': 'MANOA LYON ARBO 785.2, HI US', 'id': 9, 'elevation': 152.4, 'latitude': 21.3331}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x115051a90>, 'station': 'USC00519397', 'longitude': -157.8168, 'name': 'WAIKIKI 717.2, HI US', 'id': 10, 'elevation': 3.0, 'latitude': 21.2716}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108a72e8>, 'station': 'USC00513117', 'longitude': -157.8015, 'name': 'KANEOHE 838.1, HI US', 'id': 11, 'elevation': 14.6, 'latitude': 21.4234}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108a7668>, 'station': 'USC00514830', 'longitude': -157.8374, 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'id': 12, 'elevation': 7.0, 'latitude': 21.5213}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108a75c0>, 'station': 'USC00517948', 'longitude': -157.9751, 'name': 'PEARL CITY, HI US', 'id': 13, 'elevation': 11.9, 'latitude': 21.3934}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108a74e0>, 'station': 'USC00518838', 'longitude': -158.0111, 'name': 'UPPER WAHIAWA 874.3, HI US', 'id': 14, 'elevation': 306.6, 'latitude': 21.4992}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108a7710>, 'station': 'USC00519523', 'longitude': -157.71139, 'name': 'WAIMANALO EXPERIMENTAL FARM, HI US', 'id': 15, 'elevation': 19.5, 'latitude': 21.33556}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108a7470>, 'station': 'USC00519281', 'longitude': -157.84888999999995, 'name': 'WAIHEE 837.5, HI US', 'id': 16, 'elevation': 32.9, 'latitude': 21.45167}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108a7898>, 'station': 'USC00511918', 'longitude': -157.9992, 'name': 'HONOLULU OBSERVATORY 702.2, HI US', 'id': 17, 'elevation': 0.9, 'latitude': 21.3152}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1108a7940>, 'station': 'USC00516128', 'longitude': -157.8025, 'name': 'MANOA LYON ARBO 785.2, HI US', 'id': 18, 'elevation': 152.4, 'latitude': 21.3331}